@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  --btnColor: hsl(322, 100%, 66%);
  --hoverColor: hsl(321, 100%, 78%);
  --bgFooter: hsl(192, 100%, 9%);
  --bgSection: hsl(207, 100%, 98%);
  --mobileFont: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--mobileFont);
}

/* global */
.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.btn {
  text-decoration: none;
  background-color: var(--btnColor);
  color: #fff;
  padding: 0.7em 2.5em;
  border-radius: 40px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: var(--hoverColor);
}
img {
  max-width: 100%;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vmax;
}
header img {
  width: 120px;
}
header a {
  display: inline;
  text-decoration: none;
  color: var(--btnColor);
  padding: 0.2em 1.3em;
  border: 1px solid var(--btnColor);
  border-radius: 40px;
}
header a:hover {
  color: var(--hoverColor);
  border-color: var(--hoverColor);
}

/* jumbotron */
.jumbotron {
  text-align: center;
  padding: 9em 2.8em;
}
.jumbotron p {
  max-width: 550px;
  margin: 20px auto 40px;
}

/* hero */
.hero img {
  display: block;
  margin: auto;
  padding: 0 2em;
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0 10em;
}
.info .col {
  width: max-content;
  margin-bottom: 80px;
}
.info .col h1 {
  font-size: 4em;
}
.info .col p {
  text-align: center;
}

/* section */
section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2em;
}
section .content {
  text-align: center;
  margin-top: 3em;
}
section .content h2 {
  margin-bottom: 10px;
}

/* section top & section bottom*/
.top,
.bottom {
  position: relative;
  background-color: var(--bgSection);
}
.top::before,
.top::after,
.bottom::before,
.bottom::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
}
.top::before {
  background-position: bottom;
  background-image: url("../images/bg-section-top-mobile-1.svg");
  top: -295px;
}
.top::after {
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
  bottom: -295px;
}
.bottom::before {
  top: -295px;
  background-image: url("../images/bg-section-top-mobile-2.svg");
  background-position: bottom;
}
.bottom::after {
  bottom: -295px;
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
}

/* section center */
.center {
  margin-top: 15em;
  margin-bottom: 15em;
}

/* join */
.join {
  text-align: center;
  padding: 20em 0;
}
.join h1 {
  margin-bottom: 40px;
}

/* footer */
footer {
  background-color: var(--bgFooter);
  color: #fff;
  font-size: 0.9em;
  padding: 2em;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  top: -298px;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url(../images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.footer-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3em;
}
.footer-content p {
  margin: 20px 0;
}
.footer-content .footer-left img {
  margin-right: 15px;
}
.footer-content .footer-right h2 {
  text-transform: uppercase;
}
.footer-content .footer-right form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1em;
}
.footer-content .footer-right form input {
  width: 100%;
  padding: 1em 0.7em;
  outline: none;
  border-radius: 4px;
  border: none;
}
.footer-content .footer-right form button {
  width: 30%;
  font-family: "Poppins", sans-serif;
  background-color: var(--btnColor);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0.7em 0.7em;
}
.footer-content .footer-right form button:hover {
  background-color: var(--hoverColor);
}
.footer-sosmed {
  margin-top: 40px;
}
.footer-sosmed span {
  margin-right: 15px;
}
.footer-sosmed span:hover {
  color: rgb(62, 162, 224);
}

/* DEKSTOP VIEW & TABLET VIEW*/
@media (min-width: 768px) {
  :root {
    --mobileFont: 18px;
  }

  /* header */
  header img {
    width: 170px;
  }

  /* jumbotron */
  .jumbotron h1 {
    font-size: 2.5em;
  }

  /* info */
  .info {
    flex-direction: row;
    justify-content: space-around;
  }

  /* section */
  section {
    flex-direction: row;
    padding: 3em 5em;
    gap: 3em;
  }
  section .content,
  section img {
    text-align: left;
    max-width: 50%;
  }

  /* section top */
  .top::before {
    background-image: url("../images/bg-section-top-desktop-1.svg");
  }
  .top::after {
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
  }

  /* section center */
  .center {
    flex-direction: row-reverse;
    margin-top: 10em;
    margin-bottom: 10em;
  }

  /* section bottom */
  .bottom::before {
    top: -295px;
    background-image: url("../images/bg-section-top-desktop-2.svg");
  }
  .bottom::after {
    bottom: -295px;
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
  }

  /* footer */
  footer {
    padding: 3em 5em;
  }
  .footer-content {
    flex-direction: row;
  }
  .footer-content .footer-left {
    width: 35%;
  }
  .footer-content .footer-right {
    width: 45%;
  }
  .footer-content .footer-right p {
    max-width: 380px;
  }
  .footer-content .footer-right form {
    justify-content: space-between;
  }
  .footer-content .footer-right form input {
    width: 65%;
  }
}
